html {
    font-family: "Noto Sans JP", sans-serif;
}

.pop {font-family: 'Poppins', sans-serif;}

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* ヘッダー */
header {
    padding: 27px 0;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.logo span {
    color: #80BA4A;
}

.header_menu li {
    margin-left: 40px;
}