html {
    font-family: "Noto Sans JP", sans-serif;
}

.container {
    width: 90%;
    max-width: 1120px;
    background-color: green;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}